::ng-deep {
  .p-dialog, .p-dialog-content {
    overflow: visible !important;
    max-height: 100% !important;
    .p-dropdown-panel {
      z-index: 1001 !important;
    }
  }
  .p-dialog-header {
    padding: .7rem 1rem .5rem 1.5rem !important;
  }
  .form-field {
    margin-bottom: .2rem !important;
  }
}
