<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" >
    <div class="grid">
      <!-- Name -->
      <div class="col-12 md:col-6">
        <app-form-input
          id="name"
          label="Name"
          type="text"
          placeholder="Enter Name"
          [required]="true"
          formControlName="name"
          [errors]="name.errors"
          [touched]="name.touched"
          [dirty]="name.dirty">
        </app-form-input>
      </div>

      <!-- Author -->
      <div class="col-12 md:col-6">
        <app-form-input
          id="author"
          label="Author"
          type="text"
          placeholder="Enter author name"
          [required]="true"
          formControlName="author"
          [errors]="author.errors"
          [touched]="author.touched"
          [dirty]="author.dirty">
        </app-form-input>
      </div>

      <!-- Title -->
      <div class="col-12 md:col-6">
        <app-form-input
          id="title"
          label="Title"
          type="text"
          placeholder="Enter article title"
          [required]="true"
          formControlName="title"
          [errors]="title.errors"
          [touched]="title.touched"
          [dirty]="title.dirty">
        </app-form-input>
      </div>

      <!-- URL -->
      <div class="col-12 md:col-6">
        <app-form-input
          id="url"
          label="Article URL"
          type="text"
          placeholder="https://example.com"
          [required]="true"
          formControlName="url"
          [errors]="url.errors"
          [touched]="url.touched"
          [dirty]="url.dirty">
        </app-form-input>
      </div>

      <!-- URL to Image -->
      <div class="col-12 md:col-6">
        <app-form-input
          id="urlToImage"
          label="Image URL"
          type="text"
          placeholder="https://image.com"
          [required]="true"
          formControlName="urlToImage"
          [errors]="urlToImage.errors"
          [touched]="urlToImage.touched"
          [dirty]="urlToImage.dirty">
        </app-form-input>
      </div>

      <!-- Description -->
      <div class="col-12">
        <app-form-input
          id="description"
          label="Description"
          type="textarea"
          placeholder="Enter description"
          [rows]="3"
          [required]="true"
          formControlName="description"
          [errors]="description.errors"
          [touched]="description.touched"
          [dirty]="description.dirty">
        </app-form-input>
      </div>

      <!-- Content -->
      <div class="col-12">
        <app-form-input
          id="content"
          label="Content"
          type="textarea"
          placeholder="Enter content"
          [rows]="5"
          [required]="true"
          formControlName="content"
          [errors]="content.errors"
          [touched]="content.touched"
          [dirty]="content.dirty">
        </app-form-input>
      </div>

      <!-- Published At -->
      <div class="col-12 md:col-6">
        <app-form-input
          id="publishedAt"
          label="Published At"
          type="date"
          placeholder="Enter publish date"
          [required]="true"
          formControlName="publishedAt"
          [errors]="publishedAt.errors"
          [touched]="publishedAt.touched"
          [dirty]="publishedAt.dirty">
        </app-form-input>
      </div>

      <!-- Submit -->
      <div class="col-12 md:col-6 flex justify-content-end align-items-end">
        <p-button
        class="mr-3"
        label="Cancel"
        icon="pi pi-times"
        (click)="closeDialog()"
        severity="secondary" />
      <p-button
        [label]="submitButtonLabel"
        icon="pi pi-check"
        (click)="onSubmit()"
        severity="primary" />
      </div>
    </div>
  </form>
</p-dialog>
