<div class="form-field">
  <label [for]="id" class="font-bold">{{ label }} {{ required ? '*' : '' }}</label>

  <!-- Text Input -->
  @if (type === 'text' || type === 'email' || type === 'tel') {
    <input
      [id]="id"
      [type]="type"
      pInputText
      [placeholder]="placeholder"
      class="w-full "
      [class.ng-invalid]="isInvalid && (touched || dirty)"
      [class.p-invalid]="isInvalid && (touched || dirty)"
      [class.ng-valid]="isValid"
      [(ngModel)]="value"
      (blur)="onBlur()" />
  }

  @if (type === 'password') {
    <p-password
      [id]="id"
      [toggleMask]="true"
      [feedback]="false"
      [placeholder]="placeholder"
      class="w-full"
      [class.ng-invalid]="isInvalid && (touched || dirty)"
      [class.p-invalid]="isInvalid && (touched || dirty)"
      [class.ng-valid]="isValid"
      [(ngModel)]="value"
      (onBlur)="onBlur()"
    ></p-password>
  }

  <!-- Textarea -->
  @if (type === 'textarea') {
    <textarea
      [id]="id"
      pInputTextarea
      [placeholder]="placeholder"
      [rows]="rows || 3"
      class="w-full "
      [class.ng-invalid]="isInvalid && (touched || dirty)"
      [class.p-invalid]="isInvalid && (touched || dirty)"
      [class.ng-valid]="isValid"
      [(ngModel)]="value"
      (blur)="onBlur()"></textarea>
  }

  <!-- Dropdown -->
  @if (type === 'dropdown') {
    <p-dropdown
      [id]="id"
      [options]="options"
      [placeholder]="placeholder"
      optionLabel="label"
      optionValue="value"
      class="w-full "
      [class.ng-invalid]="isInvalid && (touched || dirty)"
      [class.p-invalid]="isInvalid && (touched || dirty)"
      [class.ng-valid]="isValid"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      (onBlur)="onBlur()" />
  }

  <!-- Switch -->
  @if (type === 'switch') {
    <div class="flex align-items-center ">
      <p-inputSwitch
        [id]="id"
        [(ngModel)]="value" class="mt-1" />
      <span class="ml-2">{{ value ? 'Active' : 'Inactive' }}</span>
    </div>
  }

  <!-- Error Messages -->
  @if (isInvalid && (touched || dirty)) {
    <small class="p-error">
      @if (errors?.['required']) {
        <span class="text-red-400">{{ label }} is required</span>
      }
      @if (errors?.['email']) {
        <span class="text-red-400">Please enter a valid email</span>
      }
      @if (errors?.['pattern']) {
        <span class="text-red-400">{{ patternError || 'Please enter a valid value' }}</span>
      }
      @if (errors?.['minlength']) {
        <span class="text-red-400">{{ label }} must be at least {{ errors?.['minlength']?.requiredLength }} characters</span>
      }
      @if (errors?.['passwordMismatch']) {
        <span class="text-red-400">Passwords do not match</span>
      }
    </small>
  }
</div>
